{% extends 'base.html.twig' %}

{% block title %}Runde bearbeiten: {{ round.name }}{% endblock %}
{% block page_title %}Runde bearbeiten: {{ round.name }}{% endblock %}

{% block body %}
    <h1>Runde bearbeiten</h1>

    {% include 'round/_form.html.twig' with {form: form} %}
{% endblock %}
