{% extends 'base.html.twig' %}

{% block title %}Runde bearbeiten{% endblock %}

{% block body %}
    <h1>Runde bearbeiten</h1>

    {% include 'round/_form.html.twig' with {form: form} %}
{% endblock %}
