<form method="post" action="{{ path('teams_delete', {id: team.id}) }}">
    <input type="hidden" name="_token" value="{{ csrf_token('delete_team_' ~ team.id) }}">
    <button class="btn" type="submit">Löschen</button>
</form>
