<form method="post" action="{{ path('disciplines_delete', {id: discipline.id}) }}">
    <input type="hidden" name="_token" value="{{ csrf_token('delete_discipline_' ~ discipline.id) }}">
    <button class="btn" type="submit">Löschen</button>
</form>
