<form method="post" action="{{ path('competitions_delete', {id: competition.id}) }}">
    <input type="hidden" name="_token" value="{{ csrf_token('delete_competition_' ~ competition.id) }}">
    <button class="btn" type="submit">Löschen</button>
</form>
