{% extends 'base.html.twig' %}

{% block title %}Verein bearbeiten{% endblock %}

{% block body %}
    <h1>Verein bearbeiten</h1>

    {% include 'club/_form.html.twig' with {
        form: form,
        button_label: 'Speichern'
    } %}

    <p>
        <a href="{{ path('clubs_list') }}">Zurück zur Liste</a>
    </p>

    {% include 'club/_delete_form.html.twig' with {
        club: club
    } %}
{% endblock %}
