{% extends 'base.html.twig' %}

{% block title %}Vereine{% endblock %}

{% block body %}
    <h1>Vereine</h1>

    <p>
        <a href="{{ path('clubs_new') }}">Neuen Verein anlegen</a>
    </p>

    {% if clubs is empty %}
        <p>Keine Vereine vorhanden.</p>
    {% else %}
        <table>
            <thead>
            <tr>
                <th>ID</th>
                <th>Eintrag</th>
                <th>Aktionen</th>
            </tr>
            </thead>
            <tbody>
            {% for club in clubs %}
                <tr>
                    <td>{{ club.id }}</td>
                    <td>{{ club.title }}</td>
                    <td>
                        <a href="{{ path('clubs_edit', {id: club.id}) }}">Bearbeiten</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}
