{% extends 'base.html.twig' %}

{% block title %}Verein anlegen{% endblock %}

{% block body %}
    <h1>Verein anlegen</h1>

    {% include 'club/_form.html.twig' with {
        form: form,
        button_label: 'Speichern'
    } %}

    <p>
        <a href="{{ path('clubs_list') }}">Zurück zur Liste</a>
    </p>
{% endblock %}
